.about {
    padding-top: 160px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.picture-girl {
    padding-left: 98px;
}

.about__text {
    padding: 0 105px;
    display: flex; /* Добавляем display: flex */
    flex-direction: column; /* Выставляем направление столбцом */
    align-items: center;
    justify-content: center;
}

.picture-boy {
    padding-right: 98px;
}