.partners {
    padding-top: 115px;
    padding-bottom: 120px;
    text-align: center;
}

.partners__logo {
    display: flex;
    padding: 66px 98px 0;
}

.partners__logo-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 86px;
}