// Fonts

$font-main: 'Noto Sans', sans-serif;
$font-accent: 'Recoleta', sans-serif;

//Colors 
$light: #fbfaf7;
$dark: #163a24;
$green: #198c36;
$beige: #f2efe6;
$white: #fff;
$shadow: #e9e4d5;
$pink: #fab5a0;
$btn: #15762e;
